*{
    box-sizing: border-box;

}
body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;

    
}
h1{
    margin: 10px;
}
.box{
    background-color: steelblue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 200px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 5px rgba(0,0,0,0.3);
    transform: translateX(300%);
    transition:  transform 0.8s ease;
}
.box:nth-of-type(even){
    transform: translateX(-300%);
}
.box.show{
    transform: translateX(0);
}
.box h2{
    font-size: 45px;
}