*{
    box-sizing: border-box;

}
body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    width: 90vw;


}
.panel{
    background-size:  auto  100%;
    background-position:  center;
    background-repeat: no-repeat;
    height: 80vh;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    margin: 10px;
    position: relative;
    transition:  flex 0.7s ease-in;

}
.panel h1{
    position: absolute;
    bottom: 20px;
    left: 20px;
    margin: 0;
    opacity: 0;
}
.panel.active{
    flex: 5;
}
.panel.active h1{
    opacity: 1;
}
@media (max-width:480px){
    .container{
        width: 100vw;
    }
    .panel:nth-of-type(4),.panel:nth-of-type(5){
        display: none;
    }
}
.a1{
    background-color:lightblue;
    animation-name: onepiece ;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes onepiece{
    0%{ color: rgb(23, 23, 235);}
    50%{color: rgb(19, 19, 109);}
    100%{color: rgb(3, 3, 35);}
}
.a3{
    background-color: greenyellow   ;
}